---
title: The Wanderer
---

<audio class="audio">
	<!-- 	<source src="http://s3.amazonaws.com/sonofsnow/audio/echo.mp3"></source> -->
</audio>
<i class="icon icon-volume-up audio-active" target="_blank"></i>
<i class="icon icon-volume-off" target="_blank"></i>

<div class="white-bg"></div>
<div class="landing-bg">
	<%= image_tag 'http://s3.amazonaws.com/sonofsnow/images/head.png', class:'wan-img head' %>
	<%= image_tag 'http://s3.amazonaws.com/sonofsnow/images/body.png', class:'wan-img body' %>
	<%= image_tag 'http://s3.amazonaws.com/sonofsnow/images/guitar.png', class:'wan-img guitar' %>
	<%= image_tag 'http://s3.amazonaws.com/sonofsnow/images/feather.png', class:'wan-img feather' %>
	<%= image_tag 'http://s3.amazonaws.com/sonofsnow/images/book.png', class:'wan-img book' %>
</div>